<h1 class="h1"> Here you can find all your parties <%= current_user.username %> !</h1> 

<ul class ="list-group">
    <% @parties.each do |element|  %>
        <%= link_to party_path(element) do %>
        <li class="list-group-item btn-create" id="create_party">
        <%= element.name %>
        <%= element.date %>
        </li>
        <% end %>
    <% end %>
</ul>
<button type="button" class="btn btn-create general-button"><%= link_to "Start party", new_party_path %>

