<div class="card">
  <h1><%= @party.name %></h1>

  <div class="form">
    <h6 class="card-title"><u>Please submit your ingredients below:</u></h6>
    <%= simple_form_for [@user_party, @party_ingredient] do |f| %>
    <%= f.input :name%>
    <%= f.submit "Submit", class: "btn btn-primary"  %>
    <% end %>
  </div>
  <br>
  <div class="ingredients-per-user">
    <h6><strong><u>Here's what your friends have:</u></strong></h6>
    <% @party.user_parties.each do |user_party| %>
      <strong><%= user_party.user.username %>:</strong>
      <% user_party.party_ingredients.each do |party_ingredient| %>
      <%= party_ingredient.name %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="party-show">
  <%= @party.name  %>
  <%= @party.date %>
</div>

<div class="party-friends">
  <% @party.user_parties.each do |user_parties| %>
    <%= user_parties.user.username %>
  <% end %>
</div>


<div class="user-add">
  <h3> Please select who you would like to add to your party:</h3>
    <%= simple_form_for([@party, @new_user_party]) do |f| %>
    <p> Please add user's one by one. </p>
    <%=  f.input :user_id, collection: User.all.map {|user| [user.username, user.id]}, as: :select, input_html: { class: 'select2' } %>
    <%= f.submit %>
    <% end %>
</div>

<%= link_to 'Delete this party', party_path(@party), method: :delete, data: { confirm: 'Are you sure?' } %>


<% @party.user_parties.each do |user_party| %>
  <%= user_party.user.username %>
  <% user_party.party_ingredients.each do |party_ingredient| %>
  <%= party_ingredient.name %>
  <% end %>
<% end %>

<%= link_to "Check the recipes", party_party_recipes_path(@party), method: :post %>


<div class="recipes_list">
  <% @party.recipes.each do |recipe| %>
  <%= link_to recipe_path(recipe) do %>
  <div class="cookbook_recipe_card">
    <div class="image_mini">
      <%= image_tag recipe.image %>
    </div>
    <div class="name">
      <%= recipe.name %>
    </div>
    <div class="info">
      <%= recipe.min %>min
    </div>
    <div class="info">
      <%= recipe.serving %>.prs
    </div>
    <div class="info">
      <%= recipe.diet %>
    </div>
    <div class="button_card">
      <%= link_to 'Delete this recipe', cookbook_path(recipe), method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
  <% end %>
  <% end %>
</div>

