
<h1>Party#show</h1>
<p>Find me in app/views/party/show.html.erb</p>

<%= simple_form_for [@user_party, @party_ingredient] do |f| %>
<%= f.input :name %>
<button type="button" class="btn btn-primary"> <%= f.submit :button %> </button>
<% end %>

<% @party.user_parties.each do |user_party| %>
  <%= user_party.user.username %>
  <% user_party.party_ingredients.each do |party_ingredient| %>
  <%= party_ingredient.name %>
  <% end %>
<% end %>
