

<h1> Please enter your recipe details below: </h1>


<%= simple_form_for(:user_recipe, url: recipes_path ) do |f| %>


  <%= f.input :name, label: "Recipe name:" %>
  <%= f.input :steps, required: true, collection: ["Crack the eggs into bowl", "Whisk the eggs", "Pour into pan"], as: :select, input_html: { multiple: true, class: 'select2' }%>
  <%= f.input :servings, label: "How many people does this serve?" %>
  <%= f.input :readyInMinutes, label: "How long does it take to prepare?" %>
  <%= f.input :diets, label: "Does this fit any dietary preferences?", collection: ["Gluten-free", "Ketogenic", "Vegetarian", "Vegan", "Pescetarian", "Paleo"], input_html: { multiple: true, class: 'select2' }%>
  <%= f.input :ingredients, collection: ["Milk", "Eggs", "Bread"], as: :select, input_html: { multiple: true, class: 'select2' } %>
  <%= f.input :picture, as: :file, label: "Add an image for your recipe" %>

  <button type="button" class="btn btn-primary"><%= f.button :submit, "Add your recipe!" %></button>

<% end %>
