<h1 class= "banner-recipe"> Dashboard of <%= current_user.username %></h1>
<div class="nav-dash">
  <div class= "general-button">
    <h3><button type="button" class="btn btn-create">  <%= link_to "Homepage", authenticated_root_path %></button></h3>
    <h3><button type="button" class="btn btn-create">  <%= link_to "Start party", new_party_path %></button></h3>
  </div>
  <div class="dash-count">
    <div class="created-count">
      <div class="name-count">
        Created:
      </div>
      <div class="num-count" >
        <%= @recipes.count %>
      </div>
    </div>
    <div class="cookbook-count">
      <div class="name-count">
        Cookbook:
      </div>
      <div class="num-count" >
        <%= @cookbook.count %>
      </div>
    </div>
    <div class="looked-count">
      <div class="name-count">
        Looked:
      </div>
      <div class="num-count" >
        <%= @user_queries.count %>
      </div>
    </div>
  </div>

</div>

<div class="title-dash">
  <p> Created Parties </p>
</div>
<div class="list-parties row">
  <% current_user.created_parties. each do |party|%>
  <div class ="col-lg-4 col-sm-12 col-md-4 ">
    <%= link_to party_path(party) do %>
      <div class="party-info-card ">
        <div class="party-name">
          <%= party.name.capitalize %>
        </div>
        <hr>
        <div class="party-date">
          <span> Date of the event: </span> <%= party.date %>
        </div>
        <div class="party-count">
          <span>Attending: </span><%= party.user_parties.where(status: "attending").count %>
        </div>
        <div class="bring">
          <span>Whats on the menu: </span><%= party.party_ingredients.map { |ingredient| ingredient.name }.to_sentence%>.
        </div>
      </div>
    <% end %>
  </div>
  <% end %>
</div>
<div class="title-dash">
  <p> Joined Parties </p>
</div>
<div class ="row list-parties">
  <% current_user.parties.each do |party| %>
    <div class ="col-lg-4 col-sm-12 col-md-4 ">
      <%= link_to party_path(party) do %>
        <div class="party-info-card">
          <div class="party-name">
            <%= party.name.capitalize %>
          </div>
          <hr>
          <div class="party-date">
            <span> Date of the event:</span> <%= party.date %>
          </div>
          <div class="party-count">
            <span> Attending:</span> <%= party.user_parties.where(status: "attending").count %>
          </div>
          <div class="bring">
           <span> Whats on the menu:</span> <%= party.party_ingredients.map { |ingredient| ingredient.name }.to_sentence%>.
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>


