<div class="container">

    <div class="h1 d-flex justify-content-center">
      <h1>All your recipes</h1>
    </div>

    <div class="d-flex justify-content-center">
      <div>
        <%= form_tag cookbooks_path, method: :get do %>
        <%= text_field_tag :query,
        params[:query],
        class: "form-control",
          placeholder: "Find your recipe"
          %>
          <%= submit_tag "Search", class: "btn btn-create" %>
          <button type="button" class="btn btn-create">  <%= link_to "Create recipe", new_recipe_path %></button>
          <% end %>
      </div>
    </div>
    <div class="list">
      <% @recipes.each do |recipe| %>
      <%= link_to recipe_path(recipe) do %>
        <div class="recipe_card">
          <div class="image_mini">
            <%if recipe.picture.attached? %>
             <%= cl_image_tag recipe.picture.key %>
            <% else %>
              <%= image_tag recipe.image %>
            <% end %>
          </div>
          <div class="info-card container">
            <div class="text-info">
              <div class="name row">
                <%= recipe.name.truncate(20) %>
              </div>
              <div class="info row">
                <small>Preparation time:</small> <strong><%= recipe.min %> min. </strong>
              </div>
              <div class="info row">
                <small>Number of servings:</small> <strong><%= recipe.serving %>.prs</strong>
              </div>
              <div class="info row">
                <small>Diet:</small> <strong><%= recipe.diet.join(", ").truncate_words(5) %></strong>
              </div>
            </div>
          <div class="button_card row">
            <div class="btn-create col-3">
              <%= link_to 'DELETE', cookbook_path(recipe), method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>

          </div>
        </div>
        </div>
      <% end %>
      <% end %>
    </div>

</div>

