<div class="container">

    <h1 class="banner-recipe">All your recipes</h1>


    <div class="d-flex justify-content-center d-inline p-2">
      <div >
        <%= form_tag cookbooks_path, method: :get do %>
        <%= text_field_tag :query,
        params[:query],
        class: "form-control", id: "find-button",
          placeholder: "Find your recipe"
          %>
      </div>
      <div>
        <%= submit_tag "Search", class: "btn btn-create", id: "search-button" %>
      </div>
      <div>
        <button type="button" class="btn-recipe">  <%= link_to "Add your own recipe", new_recipe_path %></button>
        <% end %>
      </div>
    </div>
    <div class="list row">
      <%  @recipes.each do |recipe| %>
        <div class="recipe_card col-lg-6 col-md-6 col-sm-12">
          <%= link_to recipe_path(recipe) do %>
          <div class="image_mini">
            <%if recipe.picture.attached? %>
             <%= cl_image_tag recipe.picture.key %>
            <% else %>
              <%= image_tag recipe.image %>
            <% end %>
          </div>
            <% end %>
          <div class="info-card">
            <%= link_to recipe_path(recipe) do %>
            <div class="text-info text-truncate">
              <div class="name text-truncate">
                <%= recipe.name %>
              </div>
              <div class="info">
                Preparation time: <span><%= recipe.min %> min. </span>
              </div>
              <div class="info">
                Number of servings: <span><%= recipe.serving %>.prs</span>
              </div>
              <div class="info">
                <div class="text-truncate">Diet:<span> <%= recipe.diet.join(", ") %></span> </div>
              </div>
            </div>
            <% end %>
            <div class="button_card">
              <div class="btn-create">
                <%= link_to 'DELETE', cookbook_path(recipe), method: :delete, data: { confirm: 'Are you sure?' } %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

</div>

