<h1 class="h1">Hello! Welcome on Footch!</h1>
<div class="card" id= "card-body">
  

  <div class="card-body">
    <h2 class="card-title"> Please submit your ingredients below :  </h2>
      <%= simple_form_for(:query, url: user_queries_path) do |f| %>

        <br>
        <p class="card-text">
        <%= f.input :ingredients,  label: "What's in your fridge ?" ,  collection: ["Tomatoes", "Eggs", "Mushrooms","salad", "beef"], as: :select, input_html: { multiple: true, class: 'select2' } %>
        </p>
        <small> Example: egg, milk, bacon </small>
        <br>
        <br>
        <br>
        <%= f.button :submit, "Get recipes", :class => "btn btn-get-recipes" %>
      <% end %>
  </div>
</div>


  <div class="homepage-buttons">
    <h3> <button type="button" class="btn btn-create">  <%= link_to "My cookbook", cookbooks_path %></button></h3>
    <h3> <button type="button" class="btn btn-create"> <%= link_to "Start party", new_party_path %></button></h3>
    <h3> <button type="button" class="btn btn-create">  <%= link_to  "My parties", parties_path %></button></h3>
  </div>
