<h1>UserQueries#new</h1>
<p>Find me in app/views/user_queries/new.html.erb</p>





<%= simple_form_for(@things) do |f| %>



<%= f.input %> ingredients

<%=  %> number of people


----------------------------------------------------


<%=  %> dietary preferences


<%=  %> extra ingredients



<% end %>
