<h1 class=" banner-recipe">Hello! Welcome to Footch!</h1>
<div class="card" id= "card-body">


  <div class="card-body">
    <h2 class="card-title"> What's in your fridge? </h2>
      <%= simple_form_for(:query, url: user_queries_path) do |f| %>

        <br>
        <p class="card-text">
        <%= f.input :ingredients,  label: false,  collection: ["Tomatoes", "Eggs", "Mushrooms","salad", "beef"], as: :select, input_html: { multiple: true, class: 'select2' } %>
        </p>
        <small> Example: egg, milk, bacon </small>
        <br>
        <br>
        <br>
        <%= f.button :submit, "Get recipes", :class => "btn btn-get-recipes" %>
      <% end %>
  </div>
</div>


  <div class="homepage-buttons">
    <h3> <button type="button" class="btn btn-create">  <%= link_to "My cookbook", cookbooks_path %></button></h3>
    <h3> <button type="button" class="btn btn-create"> <%= link_to "Start a party", new_party_path %></button></h3>
  </div>
