<div class="card">
  <div class="card-header">
    <h1>Hello! Welcome to Footch!</h1>
  </div>

  <div class="card-body">
    <h4 class="card-title"> Please submit your ingredients below:  </h4>
      <%= simple_form_for(:query, url: user_queries_path) do |f| %>

        <br>
        <p class="card-text">
        <%= f.input :ingredients, collection: ["Tomatoes", "Eggs", "Mushrooms"], as: :select, input_html: { multiple: true, class: 'select2' } %>
        </p>
        <small> Example: egg, milk, bacon </small>
        <br>
        <br>
        <br>
        <%= f.button :submit, "Get recipes", :class => "btn btn-get-recipes" %>
      <% end %>
  </div>
</div>


  <div class="homepage-buttons">
    <h3> <button type="button" class="btn btn-create">  <%= link_to "My cookbook", cookbooks_path %></button></h3>
    <h3> <button type="button" class="btn btn-create"> <%= link_to "Start party", new_party_path %></button></h3>
    <h3> <button type="button" class="btn btn-create">  <%= link_to  "My parties", parties_path %></button></h3>
  </div>
